name: Run Builds and Tests

on: [push, pull_request]

jobs:
  linux-build-latest-with-gcc:
    name: "Linux gcc-11"
    runs-on: ubuntu-24.04
    steps:
      - name: Install prerequisites
        run:  |
          sudo apt-get update
          sudo apt-get install ninja-build gcc-11 g++-11
          g++ --version

      - name: Checkout gdsb
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: build library and run tests (no MPI functionality)
        run:  | 
          mkdir build && cd build
          cmake -DGDSB_MPI=OFF -DGDSB_TEST=ON -DCMAKE_CXX_COMPILER=g++-11 -GNinja ..
          ninja
          ./gdsb_test

      - name: build library with MPI functionality and run MPI tests
        run:  | 
          mkdir build && cd build
          cmake -DGDSB_MPI=ON -DGDSB_TEST=ON -DCMAKE_CXX_COMPILER=g++-11 -GNinja ..
          ninja
          ./gdsb_mpi_test

  macos-build-latest-with-clang:
    name: "macOS clang-18"
    runs-on: macos-14
    steps:
      - name: Install prerequisites
        run: |
          brew install ninja
          brew install libomp
          brew install llvm@18
  
      - name: Checkout gdsb
        uses: actions/checkout@v4
        with:
          submodules: true
      
      - name: build library and run tests (no MPI functionality)
        run:  | 
          mkdir build && cd build
          cmake -DGDSB_MPI=OFF -DGDSB_TEST=ON -DCMAKE_CXX_COMPILER=/opt/homebrew/opt/llvm/bin/clang++ -DCMAKE_C_COMPILER='/opt/homebrew/opt/llvm/bin/clang' -GNinja ..
          ninja
          ./gdsb_test
